* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body {
  height: 100%;
  background-color: #eee;
  transition: 0.4s;
}

/*Dark Theme*/
.dark,
.dark Header {
  background-color: #263238;
  color: #fff;
}

.dark .bi-sun {
  display: none;
}

.dark .bi-moon {
  display: block;
}

.dark .card {
  background-color: #37474f;
}

.dark .card-image {
  background-color: #21292e;
}

.dark .subtitle {
  color: #67b4f3;
}

.dark .description {
  color: #2196f3;
}

.dark .btn {
  background-color: #67b4f3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  box-shadow: 0.8px 0.8px 14px 0.8px #000;
  padding: 1.2rem 2.2rem;
  position: relative;
}

input[type="checkbox"] {
  display: none;
}

.bi {
  font-size: 1.3rem;
  cursor: pointer;
}

.bi-moon {
  display: none;
}

main {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #fff;
  margin-top: 4rem;
  width: 60%;
  display: flex;
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.4);
}

.card-image,
.card-details {
  padding: 2rem;
  width: 50%;
}

.card-image {
  background-color: #ddd;
  position: relative;
}

.card-image span {
  font-size: 6rem;
  font-weight: 900;
}

.card-image img {
  width: 130%;
  transform: rotate(-25deg);
  position: absolute;
  right: -1rem;
  top: 10rem;
}

.card-details h2 {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.subtitle {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  line-height: 1.6rem;
  margin-bottom: 1.8rem;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 2rem;
  font-weight: 900;
}

.btn {
  background-color: #333;
  color: #fff;
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
